In [24]:
import pandas as pd
from sqlalchemy import create_engine

In [25]:
platform_path = "resources/platform.csv"
publisher_path = "resources/publisher.csv"

In [27]:
publisher = pd.read_csv(publisher_path, encoding = "ISO-8859-1")
publisher

,Publisher,Headquarters,Est.,Notable games published,Notes,Active
0,07th Expansion,Japan,2002,Higurashi When They Cry Umineko When They Cry...,NaN,1
1,11 bit studios,"Warsaw , Poland",2010,Frostpunk This War of Mine Moonlighter,"Also a video game developer, marketer, and dis...",1
2,1C Company,"Moscow, Russia",1991,Il-2 seriesMen of War series,Specializes in localization for Russia.,1
3,2K Games,"Novato, California, United States",2005,NaN,"Also a video game developer, marketer, and dis...",1
4,3D Realms,"Garland, Texas, United States",1987,Duke Nukem series,Also a video game developer. Also known as Apo...,1
...,...,...,...,...,...,...
844,Zoom,"Sapporo, Japan",1988,Overtake,NaN,1
845,Zuxxez Entertainment,"Karlsruhe, Germany",2001,NaN,Acquired TopWare Interactive in 2001. Renamed ...,0
846,Zushi Games,"Sheffield, England, UK",1999,NaN,NaN,0
847,Zynga,"San Francisco, California",2007,FarmVilleMafia Wars,NaN,1
848,ZyX,Japan,1994,NaN,NaN,1

In [28]:
publisher_db = publisher.drop(['Notable games published', 'Notes', 'Active'], axis=1)
publisher_db

                Publisher                       Headquarters  Est.
0          07th Expansion                              Japan  2002
1          11 bit studios                    Warsaw , Poland  2010
2              1C Company                     Moscow, Russia  1991
3                2K Games  Novato, California, United States  2005
4               3D Realms      Garland, Texas, United States  1987
..                    ...                                ...   ...
844                  Zoom                     Sapporo, Japan  1988
845  Zuxxez Entertainment                 Karlsruhe, Germany  2001
846           Zushi Games             Sheffield, England, UK  1999
847                 Zynga          San Francisco, California  2007
848                   ZyX                              Japan  1994

[849 rows x 3 columns]

In [29]:
publisher_db.rename(columns = {'Publisher':'publisher','Headquarters':'pub_hq', 'Est.':'pub_est'}, inplace = True)

# publisher_db.to_csv('output_data/publisher_clean.csv', encoding = 'utf-8', 
#                     index = False, header = True)
publisher_db

                publisher                             pub_hq  pub_est
0          07th Expansion                              Japan     2002
1          11 bit studios                    Warsaw , Poland     2010
2              1C Company                     Moscow, Russia     1991
3                2K Games  Novato, California, United States     2005
4               3D Realms      Garland, Texas, United States     1987
..                    ...                                ...      ...
844                  Zoom                     Sapporo, Japan     1988
845  Zuxxez Entertainment                 Karlsruhe, Germany     2001
846           Zushi Games             Sheffield, England, UK     1999
847                 Zynga          San Francisco, California     2007
848                   ZyX                              Japan     1994

[849 rows x 3 columns]

In [30]:
platform = pd.read_csv(platform_path, encoding = "ISO-8859-1")
platform

,Initiales,nom,manufactureur,nb_jeu,sortie_eu,sortie_usa,sortir_jp,gen
0,NES,Nintendo Entertainment System,Nintendo,715.0,27/10/1987,18/10/1985,15/07/1983,3.0
1,SNES,Super Nintendo Entertainment System,Nintendo,1757.0,6/6/1992,23/08/1991,21/11/1990,4.0
2,N64,Nintendo 64,Nintendo,388.0,1/3/1997,29/09/1996,23/06/1996,5.0
3,GC,Nintendo GameCube,Nintendo,657.0,3/5/2001,18/11/2001,14/09/2001,6.0
4,Wii,Wii,Nintendo,1541.0,8/12/2006,19/11/2006,2/12/2006,7.0
5,WiiU,Wii U,Nintendo,772.0,30/11/2012,18/11/2012,8/12/2012,8.0
6,GB,GameBoy,Nintendo,1055.0,28/09/1989,31/07/1989,21/04/1989,4.0
7,GBC,GameBoy Color,Nintendo,660.0,23/11/1998,18/11/1998,21/10/1998,5.0
8,GBA,GameBoy Advance,Nintendo,1504.0,22/06/2001,11/6/2001,21/03/2001,6.0
9,DS,Nintendo DS,Nintendo,1965.0,11/3/2005,21/11/2004,2/12/2004,7.0
10,3DS,Nindentendo 3DS,Nintendo,1330.0,25/03/2011,27/03/2011,26/02/2011,8.0
11,PS,PlayStation,Sony,3066.0,29/09/1995,9/9/1995,3/12/1994,5.0
12,PS2,PlayStation 2,Sony,4490.0,24/11/2000,26/10/2000,4/3/2000,6.0
13,PS3,PlayStation 3,Sony,1442.0,23/03/2007,17/11/2006,11/11/2006,7.0
14,PS4,PlayStation 4,Sony,2504.0,29/11/2013,15/11/2013,22/02/2014,8.0
15,PSP,PlayStation Portable,Sony,1370.0,1/9/2005,24/03/2005,12/12/2004,7.0
16,PSV,PlayStation Vita,Sony,1535.0,22/02/2012,22/02/2012,17/12/2011,8.0
17,XB,Xbox,Microsoft,1000.0,14/03/2002,15/11/2001,22/02/2002,6.0
18,X360,Xbox 360,Microsoft,2084.0,2/12/2005,22/11/2005,10/12/2005,7.0
19,XOne,Xbox One,Microsoft,2440.0,22/11/2013,22/11/2013,4/9/2014,8.0
20,PC,PC,NaN,NaN,NaN,NaN,NaN,NaN
21,2600,Atari 2600,Atari Inc.,526.0,1/1/1978,11/9/1997,1/10/1983,2.0
22,SAT,Saturn,Sega,1094.0,8/7/1995,11/5/1995,22/11/1994,5.0
23,DC,Dreamcast,Sega,620.0,14/10/1999,9/9/1999,27/11/1998,6.0
24,GEN,Genesis,Sega,902.0,30/11/1990,14/08/1989,29/10/1988,4.0
25,NG,Neo-Geo,SNK,156.0,1/11/1990,NaN,26/04/1990,4.0
26,SCD,Sega CD,Sega,210.0,1/4/1993,15/10/1992,12/12/1991,4.0
27,WS,WonderSwan,Bandai,103.0,NaN,NaN,4/3/1999,6.0
28,PCFX,PC-FX,NEC,62.0,NaN,NaN,23/12/1994,5.0
29,GG,Game Gear,Sega,366.0,1/4/1991,1/4/1991,6/10/1990,4.0
30,TG16,TurboGrafx-16,NEC,686.0,22/11/1989,29/08/1989,30/10/1987,4.0
31,3DO,3DO Interactive Multiplayer,Panasonic,321.0,11/6/1994,4/10/1993,20/03/1994,5.0

In [31]:
platform_db = platform.drop(['nb_jeu', 'sortie_eu', 'sortie_usa', 'gen', 'sortir_jp'], axis=1)
platform_db

   Initiales                                  nom manufactureur
0        NES        Nintendo Entertainment System      Nintendo
1       SNES  Super Nintendo Entertainment System      Nintendo
2        N64                          Nintendo 64      Nintendo
3         GC                    Nintendo GameCube      Nintendo
4        Wii                                  Wii      Nintendo
5       WiiU                                Wii U      Nintendo
6         GB                              GameBoy      Nintendo
7        GBC                        GameBoy Color      Nintendo
8        GBA                      GameBoy Advance      Nintendo
9         DS                          Nintendo DS      Nintendo
10       3DS                      Nindentendo 3DS      Nintendo
11        PS                          PlayStation          Sony
12       PS2                        PlayStation 2          Sony
13       PS3                        PlayStation 3          Sony
14       PS4                        PlayStation 4          Sony
15       PSP                 PlayStation Portable          Sony
16       PSV                     PlayStation Vita          Sony
17        XB                                 Xbox     Microsoft
18      X360                             Xbox 360     Microsoft
19      XOne                             Xbox One     Microsoft
20        PC                                   PC           NaN
21      2600                           Atari 2600    Atari Inc.
22       SAT                               Saturn          Sega
23        DC                            Dreamcast          Sega
24       GEN                              Genesis          Sega
25        NG                              Neo-Geo           SNK
26       SCD                              Sega CD          Sega
27        WS                           WonderSwan        Bandai
28      PCFX                                PC-FX           NEC
29        GG                            Game Gear          Sega
30      TG16                        TurboGrafx-16           NEC
31       3DO          3DO Interactive Multiplayer     Panasonic

In [32]:
platform_db.rename(columns = {'Initiales':'platform', 'nom':'full_platform',
                           'manufactureur':'platform_manufacturer'}, inplace = True)

# platform_db.to_csv('output_data/platform_clean.csv', encoding = 'utf-8', 
#                     index = False, header = True)

platform_db

   platform                        full_platform platform_manufacturer
0       NES        Nintendo Entertainment System              Nintendo
1      SNES  Super Nintendo Entertainment System              Nintendo
2       N64                          Nintendo 64              Nintendo
3        GC                    Nintendo GameCube              Nintendo
4       Wii                                  Wii              Nintendo
5      WiiU                                Wii U              Nintendo
6        GB                              GameBoy              Nintendo
7       GBC                        GameBoy Color              Nintendo
8       GBA                      GameBoy Advance              Nintendo
9        DS                          Nintendo DS              Nintendo
10      3DS                      Nindentendo 3DS              Nintendo
11       PS                          PlayStation                  Sony
12      PS2                        PlayStation 2                  Sony
13      PS3                        PlayStation 3                  Sony
14      PS4                        PlayStation 4                  Sony
15      PSP                 PlayStation Portable                  Sony
16      PSV                     PlayStation Vita                  Sony
17       XB                                 Xbox             Microsoft
18     X360                             Xbox 360             Microsoft
19     XOne                             Xbox One             Microsoft
20       PC                                   PC                   NaN
21     2600                           Atari 2600            Atari Inc.
22      SAT                               Saturn                  Sega
23       DC                            Dreamcast                  Sega
24      GEN                              Genesis                  Sega
25       NG                              Neo-Geo                   SNK
26      SCD                              Sega CD                  Sega
27       WS                           WonderSwan                Bandai
28     PCFX                                PC-FX                   NEC
29       GG                            Game Gear                  Sega
30     TG16                        TurboGrafx-16                   NEC
31      3DO          3DO Interactive Multiplayer             Panasonic

In [33]:
#vg sales code begins- Rob

# read csv file
csv_file = "resources/vgsales.csv"
vg_df = pd.read_csv(csv_file)

# set index by rank
vg_df.set_index(['Rank'], inplace=True)
vg_df

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [34]:
# drop blanks
vg_df.dropna(
    axis=0,
    how='any',
    inplace=True
)
vg_df

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [35]:
# change data type of year to int in order to remove decimal place
vg_df['Year'] = vg_df['Year'].astype(int)
vg_df

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16596,Woody Woodpecker in Crazy Castle 5,GBA,2002,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16597,Men in Black II: Alien Escape,GC,2003,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16598,SCORE International Baja 1000: The Official Game,PS2,2008,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16599,Know How 2,DS,2010,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16600,Spirits & Spells,GBA,2003,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [36]:
vg_df.rename(columns = {'Rank':'rank','Name':'name','Platform':'platform', 'Year':'year',
                       'Genre':'genre','Publisher':'publisher', 'NA_Sales':'na_sales',
                       'EU_Sales':'eu_sales', 'JP_Sales':'jp_sales', 'Other_Sales':'other_sales',
                       'Global_Sales':'global_sales'}, inplace = True)
vg_df

,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16596,Woody Woodpecker in Crazy Castle 5,GBA,2002,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16597,Men in Black II: Alien Escape,GC,2003,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16598,SCORE International Baja 1000: The Official Game,PS2,2008,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16599,Know How 2,DS,2010,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16600,Spirits & Spells,GBA,2003,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [37]:
rds_connection_string = "postgres:postgres@localhost:5432/VG_Sales_DB"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [38]:
engine.table_names()

['publisher', 'platform', 'developer', 'vg_sales_clean']

In [39]:
publisher_db.to_sql(name='publisher', con=engine, if_exists='append', index=False)

In [40]:
platform_db.to_sql(name='platform', con=engine, if_exists='append', index=False)

In [41]:
vg_df.to_sql(name='vg_sales_clean', con=engine, if_exists='append', index=False)

In [ ]:
# pd.read_sql_query('SELECT * FROM vg_sales_clean', con=engine)
# pd.read_sql_query('SELECT * FROM developer', con=engine)
# pd.read_sql_query('SELECT * FROM platform', con=engine)